@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bgFadeYellowToBlue {
  0% {
    background-color: #facc15; /* yellow-400 */
  }
  100% {
    background-color: #3b82f6; /* blue-500 */
  }
}

.bg-fade-yellow-to-blue {
  animation: bgFadeYellowToBlue 3s ease-in-out infinite alternate;
}
